{% extends 'main.html' %}

{% block content %}

<style>
    .room-container {
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
</style>

<div class="room-container">

    <div>

        <h1>{{room.name}}</h1>

        <p>{{room.description}}</p>

        <div class="comment-wrapper">
            <h3>Conversation</h3>
            <hr>

            {% for message in room_messages %}
                <div>
                    
                    {% if message.updated != message.created %}
                        <small><a href="{% url 'user-profile' message.user.id %}">@{{message.user}}</a>, Edited {{message.updated|timesince}} ago</small>
                    {% else %}
                        <small><a href="{% url 'user-profile' message.user.id %}">@{{message.user}}</a>, Created {{message.created|timesince}} ago</small>
                    {% endif %}
                    <br>

                    <p>{{message.body}}</p>

                    {% if request.user == message.user %}
                    <a href="{% url 'delete-message' message.id %}">Delete</a>
                    <a href="{% url 'edit-message' message.id %}">Edit</a>
                    {% endif %}
                    <hr>
                </div>
            {% endfor %}
        </div>

        {% if request.user.is_authenticated %}
        <div class="comment-form">
            <form method="POST" action="">
                {% csrf_token %}
                <input type="text" name="body" placeholder="Enter message here ..."/>
            </form>
        </div>
        {% endif %}

    </div>

    <div>
        <h3>Participants</h3>
        <hr>

        {% for user in participants %}
            <div>
                <a href="{% url 'user-profile' user.id %}">@{{user.username}}</a>
            </div>
        {% endfor %}
    </div>

</div>
{% endblock %}